In [9]:
import pandas as pd
import requests

## Pull NASDAQ Stock Tickers

In [12]:
# NASDAQ API URL (working guess)
url = "https://api.nasdaq.com/api/screener/stocks?tableonly=true&limit=0&offset=0&download=true"
headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) Chrome/110.0.0.0 Safari/537.36"}

# Fetch JSON data
response = requests.get(url, headers=headers)
if response.status_code == 200:
    json_data = response.json()

    # Extract rows into DataFrame
    df = pd.DataFrame(json_data["data"]["rows"])

    # Select ticker and name (add more columns later if needed)
    df = df[["symbol", "name"]]
    df.columns = ["ticker", "name"]

else:
    print(f"Failed: {response.status_code}")
    exit()

display(df.head())
display(df.tail())

  ticker                                               name
0      A             Agilent Technologies Inc. Common Stock
1     AA                    Alcoa Corporation Common Stock
2  AACBU                   Artius II Acquisition Inc. Units
3   AACG   ATA Creativity Global American Depositary Shares
4   AACT  Ares Acquisition Corporation II Class A Ordina...

     ticker                                               name
6895   ZVSA             ZyVersa Therapeutics Inc. Common Stock
6896    ZWS  Zurn Elkay Water Solutions Corporation Common ...
6897   ZYBT  Zhengye Biotechnology Holding Limited Ordinary...
6898   ZYME                        Zymeworks Inc. Common Stock
6899   ZYXI                            Zynex Inc. Common Stock

In [13]:
df.head(100)

   ticker                                               name
0       A             Agilent Technologies Inc. Common Stock
1      AA                    Alcoa Corporation Common Stock
2   AACBU                   Artius II Acquisition Inc. Units
3    AACG   ATA Creativity Global American Depositary Shares
4    AACT  Ares Acquisition Corporation II Class A Ordina...
..    ...                                                ...
95  ADC^A  Agree Realty Corporation Depositary Shares eac...
96   ADCT                  ADC Therapeutics SA Common Shares
97    ADD  Color Star Technology Co. Ltd. Class A Ordinar...
98   ADEA                            Adeia Inc. Common Stock
99   ADGM           Adagio Medical Holdings Inc Common Stock

[100 rows x 2 columns]

In [3]:
len(df)

6900